.LiveFixturesList {
  list-style: none;
  margin: 0;
  padding: 0;

  &__competition {
    margin: 0 -60px;

    &-title {
      background-color: #eee;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      padding: 15px 0;
      text-align: center;
    }
  }
}
