.AppInfo {
  margin-top: auto;
  padding-top: 45px;

  &__item {
    border: 1px solid rgba(33, 37, 41, 0.5);
    margin: 0;
    padding: 15px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__link {
    color: #212529;

    &:hover {
      text-decoration: none;
    }
  }
}
