.AppInfo {
  margin-top: auto;

  &__item {
    background-color: #f8f9fa;
    margin: 0 0 15px;
    padding: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: #28a745;

    &:hover {
      text-decoration: none;
    }
  }
}
