.AppInfo {
  margin-top: auto;
  padding-top: 32px;

  &__item {
    background-color: #f8f9fa;
    margin: 0;
    padding: 16px;

    &:first-child {
      margin-bottom: 16px;
    }
  }

  &__link {
    color: #17a2b8;

    &:hover {
      text-decoration: none;
    }
  }
}
