.Fixture {
  align-items: center;
  display: flex;

  &__date {
    font-size: 13px;
    font-weight: 100;
    width: 120px;
  }

  &__status {
    font-size: 13px;
    font-weight: 100;
    text-align: right;
    width: 120px;
  }

  &__main-info {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }

  &__score {
    align-items: center;
    display: inline-flex;
    font-size: 14px;
    padding: 0 10px;
  }

  &Score {
    &__goals-count {
      padding: 0 5px;
    }

    &__separator {
      margin: 0 5px;
    }
  }
}
