.AppInner {
  min-height: calc(100vh - 30px);
  padding-top: 60px;
  width: 100%;

  @media(min-width: 768px) {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: calc(100% - 290px);
  }
}
