.FixturesListLoader {

  .FixturesList__item {
    margin: 0 -30px;
    position: relative;
    padding: 15px 30px;
  }
}

    /*// &::before,
    // &::after {
    //   background-color: rgba(255, 255, 255, .7);
    //   bottom: 15px;
    //   content: "";
    //   position: absolute;
    //   top: 15px;
    //   z-index: 1;
    // }
    //
    // &::before {
    //   animation: fixturesListLoaderBg 3s linear infinite forwards;
    //   left: 30px;
    //   right: 0;
    // }
    //
    // &::after {
    //   animation: fixturesListLoaderFront 3s linear infinite forwards;
    //   left: 0;
    //   right: 100%;
    // }
  }
}

// @keyframes fixturesListLoaderBg {
//     from {
//         left: 30px;
//     }
//
//     to {
//         left: 100%;
//     }
// }
//
// @keyframes fixturesListLoaderFront {
//     from {
//         right: 100%;
//     }
//
//     to {
//         right: 30px;
//     }
// }*/
