.MatchCenterPage {
  &__header {
    justify-content: space-between;
  }

  &__competitionsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__competitionsItem {
    margin-bottom: 30px;
  }

  &__fixturesFilters {
    display: flex;
  }

  &__fixturesFilter {
    &:not(:last-child) {
      padding-right: 15px;
    }
  }
}
