{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 4 versions", "ie >= 11"]
        },
      }
    ],
    "react",
    "stage-0",
  ],
  "plugins": [
    "react-loadable/babel",
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ]
}
