.FixturesList {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border-bottom: 1px solid #f8f9fa;
    padding: 5px 0;

    @media (min-width: 992px) {
      padding: 15px 0;
    }
  }
}
