.AppHeader {
  height: 60px;
  max-width: 100%;

  &__banner {
    background-color: #28a745;
    left: 0;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__showNavBtn {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    height: 30px;
    outline: none;
    padding: 0;
    vertical-align: middle;
    width: 30px;

    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__showNavIcon {
    height: 30px;
    width: 30px;
  }

  &__nav {
    padding-top: 90px;
  }
}
