.AppHeader {
  background-color: #fff;
  border-bottom: 1px solid #f8f9fa;
  display: flex;
  left: 0;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    padding: 15px 15px 14px;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }

  &__showNavBtn {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
    color: #343a40;
    cursor: pointer;
    height: 30px;
    margin-left: 15px;
    outline: none;
    padding: 3px;
    width: 30px;
  }

  &__showNavIcon {
    height: 24px;
    width: 24px;
  }
}
