.AppHeader {
  align-items: center;
  background-color: #28a745;
  display: flex;
  left: 0;
  padding: 16px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__showNavBtn {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    height: 32px;
    outline: none;
    padding: 0;
    vertical-align: middle;
    width: 32px;

    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__showNavIcon {
    height: 32px;
    width: 32px;
  }
}
