.AppSidebar {
  @media (min-width: 768px) {
    width: 290px;
  }

  &__content {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-width: 290px;
    overflow-y: auto;
    padding: 30px 30px 45px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform .4s;
    width: 290px;
    z-index: 2;

    &--visible {
      transform: translateX(0);
    }

    @media(min-width: 768px) {
      background-color: rgba(0, 0, 0, 0);
      border-right: 1px solid #f8f9fa;
      box-shadow: none;
      padding-bottom: 30px;
      padding-left: 0;
      padding-top: 90px;
      right: auto;
      transform: translateX(0);
    }
  }

  &__bg {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: width .4s;
    width: 100%;
    z-index: 1;

    .AppSidebar__content--visible + & {
      transform: translateX(0);
    }

    @media(min-width: 768px) {
      display: none;
    }
  }
}
