.CompetitionInfo {
  &:first-child {
    margin-bottom: 30px;

    @media (min-width: 992px) {
      margin-bottom: 45px;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;

    @media (min-width: 992px) {
      margin-bottom: 30px;
    }
  }

  &__title {
    align-items: flex-end;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    line-height: 1;
    margin: 0;
    width: 100%;

    @media (min-width: 992px) {
      font-size: 20px;
    }
  }

  &__filter {
    min-width: 150px;
    width: 150px;

    @media (min-width: 992px) {
      padding-left: 15px;
      min-width: 180px;
      width: 180px;
    }
  }

  &__table {
    &:not(:first-of-type) {
      padding-top: 30px;
    }

    td,
    th {
      text-align: center;
    }

    td:first-child,
    th:first-child {
      padding-left: 0;
      text-align: left;
    }

    th:nth-child(2),
    td:nth-child(2) {
      padding-left: 0;
      text-align: left;
      width: 100%;
    }

    td:last-child,
    th:last-child {
      padding-right: 0;
      text-align: right;
    }
  }
}
