.CompetitionInfo {
  &__header {
    align-items: center;
    background-color: #f8f9fa;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    width: 100%;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  &__filter {
    @media (min-width: 768px) {
      padding-left: 15px;
    }
  }

  &__table {
    &:not(:first-of-type) {
      padding-top: 30px;
    }

    td,
    th {
      padding: 15px;
      text-align: center;
    }

    td:first-child,
    th:first-child {
      text-align: left;
    }

    th:nth-child(2),
    td:nth-child(2) {
      padding-left: 0;
      text-align: left;
      width: 100%;
    }

    td:last-child,
    th:last-child {
      text-align: right;
    }
  }
}
