.AppNavSection {
  margin-bottom: 15px;

  @media (min-width: 1200px) {
    margin-bottom: 30px;
  }

  &__contentToggle {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #343a40;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: space-between;
    margin: 0;
    min-width: 30px;
    outline: none;
    padding: 0;
    width: 100%;

    svg {
      height: 16px;
      vertical-align: middle;
      width: 16px;
    }
  }

  &__content {
    display: none;

    &--visible {
      display: block;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    align-items: center;
    color: #28a745;
    display: inline-flex;
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
    width: 100%;

    &:hover, &--active {
      text-decoration: underline;
    }
  }

  &:first-child {
    .AppNavSection__link {
      font-size: 16px;
      height: 30px;
    }
  }
}
