.AppNavSection {
  &:first-child {
    font-weight: 500;
  }

  &:not(:last-child) {
    padding-bottom: 30px;
  }

  &__contentToggle {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    justify-content: space-between;
    margin: 0;
    min-width: 30px;
    padding: 0;
    outline: none;
    width: 100%;

    svg {
      height: 16px;
      vertical-align: middle;
      width: 16px;
    }
  }

  &__content {
    display: none;

    &--visible {
      display: block;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    align-items: center;
    color: #212529;
    display: inline-flex;
    font-size: 14px;
    height: 30px;
    opacity: .5;
    text-decoration: none;
    width: 100%;

    &:hover, &--active {
      color: #28a745;
      opacity: 1;
      text-decoration: none;
    }
  }

  &:first-child {
    .AppNavSection__link {
      font-size: 16px;
    }
  }
}
