.AppNavSection {
  margin-bottom: 24px;

  &__title {
    border-bottom: 1px solid #f8f9fa;
    color: #6c757d;
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  &__link {
    color: #28a745;
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    text-decoration: none;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: underline;
    }

    &--active,
    &--active:hover {
      color: #343a40;
      cursor: default;
      text-decoration: none;
    }
  }
}
