.AppNav {
  margin-top: 60px;
  padding-right: 30px;

  &__section {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    color: #343a40;
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    opacity: .85;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: #343a40;
    display: inline-flex;
    font-size: 14px;
    opacity: .65;
    padding: 5px 0;
    text-decoration: none;

    &:hover:not(&--active) {
      opacity: .85;
    }

    &--active {
      font-weight: 500;
      opacity: .85;
    }
  }
}
