.Fixture {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 14px;

  @media(min-width: 992px) {
    font-size: 20px;
    flex-flow: row nowrap;
  }

  &__date,
  &__status {
    color: #6c757d;
    font-size: 14px;
    text-align: center;

    @media(min-width: 992px) {
      min-width: 75px;
      width: 75px;
    }
  }

  @media(min-width: 992px) {
    &__date {
      text-align: left;
    }

    &__status {
      text-align: right;
    }
  }

  &__mainInfo {
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 100%;
    padding: 5px 0;
    width: 100%;

    @media(min-width: 992px) {
      max-width: calc(100% - 120px);
      min-width: 0;
      padding: 0;
      width: calc(100% - 120px);
    }
  }

  &__separator {
    position: relative;
    text-align: center;
    width: 0;

    &::before {
      content: ":";
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
