.Dropdown {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: 0;

  &__label {
    line-height: 30px;
    padding-right: 10px;
  }

  &__field {
    background-color: #f8f9fa;
    border: 0;
    height: 30px;
    outline: none;
  }
}
