.App {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;

  @media(min-width: 768px) {
    padding-bottom: 30px;
  }

  &__loader {
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    height: calc(100% + 60px);
    justify-content: center;
    left: 0;
    letter-spacing: 10px;
    position: absolute;
    text-align: center;
    top: -30px;
    width: 100%;
  }

  .Container {
    align-items: stretch;
    flex-flow: nowrap;
  }
}
