@import '../../../../node_modules/normalize.css/normalize.css';
@import '../../assets/styles/main.scss';

.App {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;

  @media(min-width: 768px) {
    padding-bottom: 30px;
  }

  .Container {
    align-items: stretch;
    flex-flow: nowrap;
  }
}
