.CompetitionInfo {
  &__title {
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
  }

  &__section:not(:last-child) {
    margin-bottom: 45px;
  }
}
