.CompetitionInfo {
  &:first-child {
    margin-bottom: 30px;
  }

  &__header {
    border-bottom: 1px solid #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px;
    width: 100%;
  }

  &__title {
    font-size: 16px;
    margin: 0;
  }
}
