.CompetitionInfo {
  &:first-child {
    margin-bottom: 30px;
  }

  &__header {
    border-bottom: 1px solid #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px;
    width: 100%;
  }

  &__title {
    font-size: 16px;
    margin: 0;
  }
}

.CompetitionPage {
  &__lastUpdated {
    font-size: 14px;
    opacity: .5;
    padding-top: 15px;

    @media(min-width: 1200px) {
      padding-top: 0;
    }
  }
}
