.Table {
  table-layout: auto;
  width: 100%;

  &Container {
    overflow-x: auto;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid rgba(40, 167, 69, 0.1);
  }

  td,
  th, {
    padding-bottom: 15px;
    padding-top: 15px;
    white-space: nowrap;
  }

  th {
    cursor: pointer;
    font-weight: 400;
    opacity: .5;
  }

  &__heading {
    display: inline-block;
    position: relative;
  }

  &__sortIcon {
    display: none;
    height: 8px;
    left: -15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;

    th:hover & {
      display: block;
    }
  }
}
