.Table {
  table-layout: auto;
  width: 100%;

  &Container {
    overflow-x: auto;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid #f8f9fa;
  }

  td,
  th, {
    font-size: 14px;
    padding: 5px;
    white-space: nowrap;

    @media (min-width: 576px) {
      font-size: 16px;
      padding: 10px;
    }

    @media (min-width: 992px) {
      font-size: 20px;
      padding: 15px;
    }
  }

  th {
    cursor: pointer;
    font-weight: 400;
    opacity: .5;
  }

  &__heading {
    display: inline-block;
    position: relative;
  }

  &__sortIcon {
    display: none;
    height: 8px;
    left: -15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;

    th:hover & {
      display: block;
    }
  }
}
