.MatchCenterPage {
  &__header {
    justify-content: space-between;
    flex-flow: row wrap;

    @media (min-width: 970px) {
      flex-flow: row nowrap;
    }
  }

  &__competitionsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__competitionsItem {
    padding: 15px 0;
  }

  &__fixturesFilters {
    display: flex;
    flex-flow: row wrap;
    padding-top: 30px;
    width: 100%;

    @media (min-width: 970px) {
      padding-top: 0;
      flex-flow: row nowrap;
      width: auto;
    }
  }

  &__fixturesFilter {
    padding: 5px 0;
    width: 100%;

    @media (min-width: 970px) {
      padding: 0;
      width: auto;

      &:not(:first-child) {
        padding-left: 15px;
      }
    }

    @media (min-width: 1200px) {
      &:first-child {
        padding-left: 15px;
      }
    }
  }
}
