.MatchCenterPage {
  &__fixturesFilters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 100%;

    @media (min-width: 992px) {
      margin-bottom: 48px;
    }
  }

  &__fixturesFilter {
    width: 100%;

    &:first-child {
      margin-bottom: 24px;
    }

    @media (min-width: 992px) {
      width: 50%;

      &:first-child {
        margin-bottom: 0;
        padding-right: 16px;
      }

      &:last-child {
        padding-left: 16px;
      }
    }
  }

  &__competitionsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__competitionsItem {
    &:not(:last-child) {
      margin-bottom: 16px;

      @media (min-width: 992px) {
        margin-bottom: 32px;
      }
    }
  }
}
