.AppLinks {
  align-items: center;
  display: flex;
  margin-left: auto;

  &__item {
    color: #212529;
    margin-left: 30px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
