.SquadTable {
  td,
  th {
    padding: 15px;
    text-align: center;
  }

  td:first-child,
  th:first-child {
    padding-left: 0;
    text-align: left;
  }

  th:nth-child(2),
  td:nth-child(2) {
    padding-left: 0;
    text-align: left;
    width: 100%;
  }

  td:last-child,
  th:last-child {
    padding-right: 0;
    text-align: right;
  }
}
