.TeamPage {
  &__logo {
    align-items: center;
    display: inline-flex;
    height: auto;
    margin-right: 15px;
    overflow: hidden;
    width: 48px;
  }

  &__squadTable {
    td,
    th {
      text-align: left;
    }

    td:last-child,
    th:last-child {
      text-align: right;
    }
  }

}

.TeamCoach {
  padding-top: 15px;
}
