.TeamPage {
  &__logo {
    align-items: center;
    display: inline-flex;
    height: auto;
    margin-right: 15px;
    overflow: hidden;
    width: 48px;
  }

  &__squadTable {
    td,
    th {
      padding: 15px;
      text-align: left;
    }

    th:nth-child(2),
    td:nth-child(2) {
      padding-left: 0;
    }

    td:last-child,
    th:last-child {
      text-align: right;
    }
  }

}

.TeamCoach {
  padding-top: 30px;
}
