doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")

    !=title
    !=meta
    
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-42688866-6")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-42688866-6');
    
    style(type="text/css").
      #{criticalCSS}

    link(href="//fonts.googleapis.com/css?family=Roboto:400,500", rel="stylesheet")
        
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#28a745")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")
      
    meta(name="google-site-verification", content="cySttcjM5zAsRGED5LSc0OdmgZTSwnzqtYAa3ytIfEs")
  body
    #root
      !=html

    script.
      window.__PRELOADED_STATE__ = !{state}
    !=scripts
    script(src='/main.js', async, defer)
    script.
      // Check that service workers are registered
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
