doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")

    !=title

    meta(name="image", content="https://goal.now.sh/logo.svg")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@vadymshymko")
    meta(name="twitter:creator", content="@vadymshymko")
    meta(name="twitter:image:src", content="https://goal.now.sh/logo.svg")
    meta(name="og:image", content="https://goal.now.sh/logo.svg")
    meta(name="og:site_name", content="Soccer In Web")
    meta(name="og:locale", content="en_US")
    meta(name="fb:admins", content="100002165463093")
    meta(name="fb:app_id", content="2048470848761820")
    meta(name="og:type", content="website")

    !=metaTags

    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,600,700,800&display=swap")
    link(rel="stylesheet" href=mainCSSFilePath)

    link(rel="apple-touch-icon" size="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" size="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" size="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" color="#343a40" href="/safari-pinned-tab.svg")
    meta(name="msapplication-TileColor", content="#343a40")
    meta(name="theme-color", content="#343a40")

    !=linkTags

    !=styleTags

    !=prefetchLinks

    //- Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-3VXV2YM4LE")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3VXV2YM4LE');
  body
    #root
      !=appHTML
      
    script.
      window.APP_INITIAL_STATE = !{initialState}

    !=scriptTags