doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")

    !=styleTags
    !=prefetchLinks

    !=title
  body
    #root
      !=appHTML

    script.
      window.__INITIAL_STATE__ = !{initialState}
    !=scriptTags