.TeamLink {
  align-items: center;
  display: inline-flex;
  color: #343a40;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    text-decoration: underline;
  }

  &__logo {
    align-items: center;
    display: inline-flex;
    height: auto;
    margin-right: 8px;
    overflow: hidden;
    width: 16px;
  }

  span.TeamLink__logo {
    background-color: #eee;
    border-radius: 2px;
    height: 16px;
  }
}
