.CompetitionTable {
  td,
  th {
    text-align: right;
  }

  td:first-child,
  th:first-child, {
    padding-left: 15px;
    padding-right: 0;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 100%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    text-align: left;
  }
}
