.AppTitle {
  align-items: center;
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;

  &__link {
    align-items: center;
    color: #28a745;
    display: inline-flex;
    text-decoration: none;
  }
}
