.AppTitle {
  align-items: center;
  display: inline-flex;
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;

  &__link {
    align-items: center;
    color: #fff;
    display: inline-flex;
    text-decoration: none;
  }
}
