.AppPageHeader {
  align-items: flex-start;
  border-bottom: 1px solid #f8f9fa;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 30px 15px;
  width: 100%;

  @media (min-width: 480px) {
    padding: 45px 30px;
  }

  @media (min-width: 970px) {
    padding: 45px 60px;
  }

  @media (min-width: 1200px) {
    align-items: center;
    flex-flow: row;
  }
}
