.AppHeader {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  padding: 15px 0;
  position: relative;
  width: 100%;
  z-index: 1;

  &__link {
    color: #212529;
    display: inline-flex;
    line-height: 1;
    text-decoration: none;
  }
}
