.AppHeader {
  box-shadow: 0px 1px 0 #f7f8fb;
  padding: 90px 30px;
  text-align: center;
  width: 100%;

  &__link {
    color: #333;
    display: inline-flex;
    line-height: 1;
    text-decoration: none;
  }
}
