.App {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;

  &__content {
    margin-bottom: 30px;
    width: 100%;
  }

  .Container {
    align-items: stretch;
    flex-flow: nowrap;
  }
}
