.FixtureTeam {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  max-width: 50%;
  position: relative;

  @media(min-width: 992px) {
    padding: 0 8px;
  }

  &--type {
    &--home {
      justify-content: flex-end;

      .FixtureTeam__score {
        margin-left: 8px;
      }
    }

    &--away {
      justify-content: flex-start;

      .FixtureTeam__score {
        margin-right: 8px;
      }
    }
  }

  &__score {
    min-width: 32px;
    padding: 2px;
    height: 32px;
    line-height: 28px;
    text-align: center;
  }

  &__link {
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
