.FixtureTeam {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  max-width: 50%;
  position: relative;

  @media(min-width: 768px) {
    padding: 0 10px;
  }

  &--type {
    &--home {
      justify-content: flex-end;
      padding-right: 10px;

      .FixtureTeam__score {
        margin-left: 10px;
      }
    }

    &--away {
      justify-content: flex-start;
      padding-left: 10px;

      .FixtureTeam__score {
        margin-right: 10px;
      }
    }
  }

  &__score {
    min-width: 24px;
    padding: 0 5px;
    text-align: center;
  }

  &__link {
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
