.DateInput {
  font-size: 16px;

  &__label {
    line-height: 30px;
    opacity: .5;
    padding-right: 10px;
  }

  &__field {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #343a40;
    color: #343a40;
    height: 30px;
    outline: none;
    width: 100%;
  }
}
