.Dropdown {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 0;

  &__label {
    line-height: 30px;
    padding-right: 10px;
    opacity: .5;
  }

  &__field {
    background-color: rgba(40, 167, 69, 0.1);
    border: 0;
    height: 30px;
    outline: none;
    width: 100%;
  }
}
